.hero-btn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 16px;
  color: #ff4500;
  border: 2px solid #ff4500;
  border-radius: 12px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  transform: scale(1); /* default scale */
}

.hero-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 30%;
  height: 50px;
  border-radius: inherit;
  transform: scale(0); /* fixed */
  z-index: -1;
  background-color: #ff4500;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.hero-btn:active {
  transform: scale(1);
}

.hero-btn:hover {
  color: #212121;
  transform: scale(1.1); /* fixed */
  box-shadow: 0 0px 20px rgb(255, 105, 51);
}

.hero-btn:hover::before {
  transform: scale(4.2); /* fixed */
}

.landing-button {
  border: 1px #ff4500 solid;
  background-color: #ff4500;
  padding: 8px 34px;
  border-radius: 5px;
  border-bottom: 4px solid hsl(16, 100%, 40%);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.landing-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.landing-button::before {
  content: "";
  position: absolute;
  top: -80%;
  left: -80%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(255, 255, 255, 0.909)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.landing-button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(300%);
}
