.grid-memes {
  position: absolute;
  top: 120px;
  right: -200px;
  z-index: 0;

  transform-style: preserve-3d;
  border-radius: 32px;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  opacity: 0.9;
  transition: 0.6s ease all;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
  max-width: 600px;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  box-shadow: -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
}

.grid-item img:hover {
  transform: translate3d(0px, 0px, 1px);
  box-shadow: 1px 1px 0 1px #ce32075e, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}
